<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Itinerary</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>Deliveries</ion-list-header>
    <ion-item  *ngFor="let trans of data.transfers" (click)="itemTapped(trans, false)">
        Recipient : {{ trans.name }} <br>
        {{ trans.receiving_street_address__c }}
        {{ trans.receiving_city__c }},
        {{ trans.receiving_state__c }},
        {{ trans.receiving_zip_code__c }} <br>
        Status : {{ trans.status__c }} <br>
        Type : {{ trans.record_type_name__c }} <br>
        Transfer Type : {{ trans.transfer_type__c }} <br>
    </ion-item>
    
  </ion-list>
  <ion-label *ngIf="data.transfers.length == 0">
      No Deliveries on your itinerary
  </ion-label>
  <ion-list>
    <ion-list-header>Returns</ion-list-header>
    <ion-item-sliding *ngFor="let ret of data.returns"> 
      <ion-item>
          Recipient : {{ ret.name }} <br>
          {{ ret.receiving_street_address__c }}
          {{ ret.receiving_city__c }},
          {{ ret.receiving_state__c }},
          {{ ret.receiving_zip_code__c }} <br>
          Status : {{ ret.status__c }} <br>
          Type : {{ ret.record_type_name__c }} <br>
          Transfer Type : {{ ret.transfer_type__c }} <br>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary" (click)="addReturn(ret)" *ngIf="!ret.addedToReturn">
            Got Package
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <div *ngIf="data.returns.length > 0">
    <button ion-button (click) ="transferReturns()" >
      Transfer Returns
    </button>
  </div>
  <ion-label *ngIf="data.returns.length == 0">
      Nothing on your itinerary
  </ion-label>
  <div>
    <button ion-button (click) ="addTransfers()">
      Add More Transfers
    </button>
  </div>
</ion-content>
