// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-background-md {
  background-color: #214d7c;
}

.toolbar-title-md,
.bar-button-default-md,
.bar-button-default-md:hover:not(.disable-hover) {
  color: #ffffff;
}

img.logo {

  padding-right: 44px;
}

.header-title {
  color: #214d7c;
  font-size: 18px;
  text-align: center;
  background-color: #e7ebf5;
  padding: 3px;
}

ion-app.md [padding-top] .scroll-content, ion-app.md [padding] .scroll-content {
  padding-top: 30px;
}
.toast-success .toast-wrapper{
	background: #4caf50 !important;
}
.toast-error .toast-wrapper{
	background: #d80202 !important;
}
ion-list.list-one .list-header-md{

border-top: 0px solid #fff;

}
.button-md{
	    height: 4.6rem;
}
ion-menu .item-md{
	color: #214d7c;
}
