<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center><img class="logo" width="auto" height="40" src="../assets/img/idph-logo.png" /></ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-header class="header-title">Pick Up</ion-header>
  <ion-list class="list-one">
    <ion-list-header>Deliveries</ion-list-header>
    <ion-item  *ngFor="let trans of data.transfers" (click)="itemTapped(trans)">
        Company Name: {{trans.recipient_company_name__c}} <br>
        Transfer ID : {{trans.name}} <br>
        Driver Name: {{trans.driver_name__c}} <br>
    </ion-item>
  </ion-list>
  <ion-label *ngIf="data.transfers.length == 0">
      No Transfers Available
  </ion-label>
  <ion-list>
    <ion-list-header>Returns</ion-list-header>
    <button ion-item  *ngFor="let ret of data.returns" (click)="itemTapped(ret)">
        Company Name: {{ret.recipient_company_name__c}} <br>
        Return ID: {{ret.name}} <br>
        Driver Name: {{ret.driver_name__c}} <br>
    </button>
  </ion-list>
  <ion-label *ngIf="data.returns.length == 0">
      No Returns Available
  </ion-label>
  <div>
    <button ion-button (click) ="goHome()">
      Done
    </button>
  </div>
</ion-content>
