<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center><img class="logo" width="auto" height="40" src="../assets/img/idph-logo.png" /></ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="page-transfers" padding>
  <ion-header class="header-title">Open Transfers</ion-header>
  <ion-list class="list-one">
    <ion-list-header>Deliveries</ion-list-header>
    <ion-card *ngFor="let trans of data.transfers" (click)="itemTapped(trans)">
      <ion-card-header>
        {{trans.recipient_company_name__c}} <span class="align-right">  <ion-icon name="bus"></ion-icon>
</span>
      </ion-card-header>
      <ion-card-content>
        <b>Transfer ID:</b> {{trans.name}}
        <br>
        <b>Driver: </b> {{trans.driver_name__c}}
        <br>
      </ion-card-content>
    </ion-card>
    <ion-label *ngIf="data.transfers.length == 0">
      No Transfers Available
    </ion-label>
    <ion-list-header>Returns</ion-list-header>
    <ion-card *ngFor="let ret of data.returns" (click)="itemTapped(ret)">
      <ion-card-header>
        {{ret.recipient_company_name__c}} <span class="align-right">  <ion-icon name="return-left"></ion-icon>
</span>
      </ion-card-header>
      <ion-card-content>
        <b>Return ID:</b> {{ret.name}}
        <br>
        <b> Driver:</b> {{ret.driver_name__c}}
        <br>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-label *ngIf="data.returns.length == 0">
    No Returns Available
  </ion-label>
</ion-content>
<ion-footer padding>
  <div>
    <button block ion-button (click)="goHome()">
      Done
    </button>
  </div>
</ion-footer>
