.page-transfer-detail {

.card-header-md {
    padding: 10px;
    margin-bottom: -25px !important;
}

.card-content-md {
    padding: 10px 16px 30px;
    font-size: 1.4rem;
    line-height: 1.5;
    min-height: 13rem;
}

.label-icon {
    text-align: right;
    float: right;
  }

.btn-default{
	background: #e2e5ee;
    color: #214d7c;
    width: calc(100% - 20px);
    margin-left: 9px;
}
.button-md:hover:not(.disable-hover) {
    background-color: #214d7c;
    color: #e2e5ee;
}
}
